* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}


.login-page {
  position: relative;
  min-height: 100vh;
  background: #000; 
  overflow: hidden;
  z-index: 1;
}
.link-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
  font-size: inherit;
}

.login-page::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  background: url(https://assets.codepen.io/12394909/Logo.jpg) no-repeat center center;
  background-size: cover;
  z-index: -1;
}




.form-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 450px;
  padding: 70px;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 1; 
}


.form-wrapper h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}


.form-wrapper form {
  margin: 25px 0 65px;
}

.form-control {
  position: relative;
  margin-bottom: 16px;
  height: 50px;
}

.form-control input {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  background: #333;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 1rem;
  outline: none;
  transition: background 0.3s ease, padding 0.3s ease;
}

.form-control input:focus,
.form-control input:valid {
  background: #444;
  padding-top: 16px;
  padding-bottom: 0;
}

.form-control label {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #8c8c8c;
  font-size: 1rem;
  pointer-events: none;
  transition: all 0.2s ease;
}

.form-control input:focus ~ label,
.form-control input:valid ~ label {
  font-size: 0.75rem;
  transform: translateY(-130%);
  color: #b3b3b3;
}

form button {
  width: 100px;
  padding: 8.5px 0;
  background: #e50914;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  font-size: 0.8rem;
  color: #fff;
  cursor: pointer;
  margin: 10px 0;
  transition: background 0.2s ease;
}

form button:hover {
  background: #c40812;
}

.form-wrapper a {
  color: #b3b3b3;
  text-decoration: underline;
  cursor: pointer;
}

.form-wrapper a:hover {
  text-decoration: none;
}

.form-wrapper p,
.form-wrapper small {
  color: #b3b3b3;
  margin-top: 10px;
  font-size: 0.9rem;
}

.form-wrapper .form-help {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-wrapper .form-help label {
  margin-right: auto;
  color: #b3b3b3;
  font-size: 0.9rem;
}

.form-wrapper .form-help a {
  margin-left: auto;
  color: #b3b3b3;
  font-size: 0.9rem;
}

.form-control.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-control.flex input[type="checkbox"] {
  margin-right: 5px;
}

.form-wrapper .form-help label[for="remember-me"] {
  color: #fff;
  font-size: medium;
}

.form-wrapper small a {
  color: #0071eb;
}

@media (max-width: 740px) {
  .login-page::before {
    display: none;
  }
  nav {
    padding: 20px;
  }
  nav img {
    width: 140px;
  }
  .form-wrapper {
    width: 90%;
    top: 43%;
    padding: 40px 30px;
  }
  .form-wrapper form {
    margin: 25px 0 40px;
  }
}
